/**
 * @name purplevision
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://fonts.googleapis.com/css2?family=gg+sans:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.github.io/ClearVision-v6/main.css');
@import url(https://clearvision.github.io/Addons/whitney.css);

:root {
  --main-color: #8E5C9F;
  --hover-color: #9255A7;
  --success-color: #43B581;
  --danger-color: #982929;
  --url-color: #C795D3;
  --background-image: url('https://i.imgur.com/GGPnIxc.jpg');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 127%;
  --background-contrast: 120%;
  --background-saturation: 230%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 4px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.imgur.com/GGPnIxc.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 3px;
  --user-modal-image: url('https://i.imgur.com/GGPnIxc.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 3px;
  --home-icon: url('https://clearvision.github.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #D8C9DB;
  --channel-color: rgba(255,255,255,0.3);
  --muted-color: rgba(255,255,255,0.1);
  --online-color: #57C392;
  --idle-color: #FAA61A;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  --code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

[class^="message-"] div[aria-label*="super" i]:has([class^="icon-"]),
[class^="reactionInner-"] [class^="effectsWrapper-"],
[class^="burstReactionTooltipPrompt-"],
[class^="burstEmojiSection-"],
[class*="colorPremiumGradient-"] {
  display: none;
}

[class*="hideEmoji-"] {
  opacity: 1;
}

[class*="burstReactionTooltipSpacer-"] {
  border: none !important;
  padding: 0px;
  margin: 0px;
}

[class^="reactionSelected-"] {
  background: var(--background-tertiary) !important;
}

